{% extends "base.html" %}
{% load i18n static %}
{% block title %}Home Page{% endblock title %}
{% block content %}
<form action="">
	<div class="form-group">
		<input type="text" class="form-control" name="search" value="{{ request.GET.search }}" placeholder="{% trans 'Search' %}">
	</div>
</form>
{% for post in posts %}
	<h3>{{ post.title }}</h3>
	<p>{{ post.body|truncatechars:200 }} <a href="{% url 'post_detail' post.slug %}">{% trans "View More" %}</a></p>
{% empty %}
	<p class="text-center my-3">There is no Post yet</p>
{% endfor %}
{% include "includes/paginate.html" with page_obj=posts %}
{% endblock content %}